* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html { 
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

body {
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* background: rgba(0, 0, 0, 0.807); */
    /* background: rgba(0, 0, 0, 0.074); */
    /* background: rgb(255, 255, 255); */
}

h1 {
    font-size: 45px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    font-weight: 200;
}

/* h3 {} */

p {
    font-size: 15px;
    font-weight: 100;
}

/* !!! HEIGHT IS IMPORTANT !!! */
.container {
  /* color: white; */
  /* border: 5px solid orange; */
  /* height: 100vh; */
  align-items: center;
}

/* .mySlides {display:none;} */

.image-container {
    
    display: flex;
    justify-content: center;
    height: 100vh;

    /* !!! THIS IS WORKING !!! */
    /* https://www.w3schools.com/html/html_images_background.asp */

    /* background-image: url('./images/showcase-3 copy.jpg'); */
    background-image: url('./images/showcase-3.jpg');
    /* background-image: url("./images/motion-card-1.jpg"); */
    /* background-repeat: no-repeat; */
    /* !!! THIS WILL PREVENT IT FROM SCROLLING !!! */
    /* background-attachment: fixed;   */
    background-size: cover;
}

/* Style the navbar */
#header {
    overflow: hidden;
    /* background-color: #333; */
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    /* top: 22.5px; */
    width: 100%;
  }
  
.hidden {
    display: none;
}

/* GRAYSCALE + BLUR */
.blurred {
    /* filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
    /* backdrop-filter: grayscale(1);   */

    /* CAN LEAVE backdrop OUT */
    filter: grayscale(.5) blur(2px);  
    filter: grayscale(.25) blur(1px) opacity(0.75);  
}

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }


header {
    z-index: 2;
    position: absolute;
    /* top: 10px; */
    /* margin-top: 22.5px; */

    width: 100%;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.507); */
    /* border-top: 1px solid black; */
    /* border-top: 1px solid rgba(255, 255, 255, 0.521); */
    /* margin-top: 1rem; */
    /* !!! */
    /* background-color: rgba(45, 45, 45, 0.163); */
    /* background-color: rgba(45, 45, 45, 0.219); */
    /* background-color: rgba(0, 0, 0, 0.644); */
    background-color: rgba(0, 0, 0, 0.836);
}
    
.header-content {
    display: flex;
    align-items: flex-end;
    align-items: center;
    max-width: 1200px;

    /* !!! */
    /* background-color: rgba(165, 77, 77, 0.231); */

    width: 80%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    /* border-bottom: 1px solid black; */
    /* color: white; */
}
    
.logo-container--4, .nav-links, .search-container {
    display: flex;
}
    
    
    
.logo-container--4 {
    flex: 1;
    /* background: wheat; */
    /* width: 20.5rem; */
    /* margin-top: 3rem; */
    /* margin-left: 5rem; */
    display: flex;
    align-items: center;
    /* border: 1px solid white; */

     /* LOGO ONLY */
    justify-content: flex-end;
    justify-content: center;
}
    
.block-row---4 {
    display: flex;

    /* WITH TEXT */
    /* margin-left: .5rem; */

    /* LOGO ONLY */
}
    
.block--4 {
    width: .5rem;
    height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.108);
    border-radius: .2rem;
    margin: .1rem;
}
    
.block--4--1 {
    background-color: #62959c;
    border-bottom-left-radius: .6rem;
}
    
.block--4--2 {
    background-color: #c19277;
}
    
.block--4--3 {
    background-color: #e1bc91;
    border-top-right-radius: .6rem;
}
    
/* ENZEE PHOTOGRAPHT */
.text--4 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .08rem;
    color: white;
    /* color: black; */
}
    
.enzee--4 {
    margin-left: .3rem;
    text-transform: capitalize;
    /* border-bottom: 2px solid #e3d0b9; */
}
    
.photo--4 {
    margin-left: .3rem;
    text-transform: capitalize;
    /* border-right: 1px solid black; */
    /* border-bottom: 2px solid #e3d0b9; */
}
    
.photo-row--4 {
    /* border-right: 1px solid black; */
    padding-right: 2rem;
}
    
    
    
    
nav {
    /* background: rgb(191, 217, 137); */
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: visible; */
    /* height: 40px; */
    /* margin: 0px; */
    /* box-sizing: border-box; */
}
    
.nav-links {
    list-style: none ;

    /* border-left: 1px solid black;
    border-left: 1px solid rgba(255, 255, 255, 0.493);
    border-right: 1px solid black;
    border-right: 1px solid rgba(255, 255, 255, 0.493); */

    /* border-right: 1px solid black; */
    /* border-bottom: 3px solid transparent; */
    /* overflow: visible; */
}
    
.nav-link {
    display: block;
    float: left;
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: black;
    color: rgba(255, 255, 255, 0.753);
    /* color: rgba(255, 166, 0, 0.765); */
    letter-spacing: .04rem;
    font-size: 15px;
    font-weight: 300;
    margin-top: 16px;
    padding: 0px 20px 10px 20px;
    border-bottom: 2px solid transparent;
    /* border: 1px solid black; */
}

.nav-link.active {
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 0.753);
    /* color: rgba(255, 166, 0, 0.765); */
}

.nav-link.active:hover {
    border-bottom: 2px solid white;
    color: white;
}

.nav-link:hover {
    border-bottom: 2px solid white;
    /* border-bottom: 2px solid rgb(255, 166, 0); */
    color: white;
    /* color: rgb(255, 166, 0); */
}
    



.search-container {
    /* background: rgba(227, 113, 93, 0.425); */
    flex: 1;
    display: flex;
    flex-direction: row;
    /* end NOT WORKING, INSTEAD: */
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid black; */
}
    
button {
    border: 1px solid red;
    border: none;
    color: white;
    background: transparent;
    outline: none;
}  

button.submit-btn, button.close-btn {
    color: rgba(255, 255, 255, 0.753);
}



input[type=text] {
    /* border: yellowgreen; */
    /* width: 140px; */

    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;

    margin: 0px 0px 0px 7px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
}

::placeholder {
    /* color: red; */
    margin: 0px 0px 0px 10px;
  }

  /* input[type=text]:focus {
    width: 140px;
  } */


 
.title-div {
/* !!! !!! */
    z-index: 1;
    position: absolute;
    /* top: 200px; */
    bottom: 75px;


    

    width: 100%;
    height: fit-content;
    height: 110px;
    margin: auto;

   
    background: rgba(0, 0, 0, 0.192);
    /* background: #56d2e213; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)); */
    /* background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.601), rgba(0, 0, 0, 0.8), rgb(0, 0, 0)); */

    display: flex;
    align-items: flex-end;
    justify-content: center;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    border-top: 1px solid rgb(119, 119, 119);
    border-bottom: 1px solid rgb(131, 131, 131);
          
}



.title-div-content {
    width: 95%;
    /* border: 3px solid orange; */
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}

.title-div h2 {
    color: rgba(255, 255, 255, 0.842);
    /* color: #e1bc91cb; */
    /* color: #ffc786; */
    /* color: #fdae81; */

    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 80px 0px 0px 0px;
    letter-spacing: .4rem;
    /* padding-bottom: 20px; */
}

      
h1 .enzee {
    /* color: #62959c; */
    color: #56d2e2;
    /* color: rgba(255, 255, 255, 0.108); */
    /* color: rgba(255, 166, 0, 0.855); */
    /* text-transform: capitalize; */
    /* display: block; */
    font-weight: 900;
    font-size: 105px;
    /* font-size: 12rem; */
    /* RESPONSIVE TEXT */
    /* font-size: 12vw; */
    /* letter-spacing: .4rem; */
} 


h1 .photography {
    color: #c19277;
    /* color: #fdae81; */
    /* color: rgb(0, 0, 0); */
    /* display: block; */
    margin: 0px 0px 0px 20px;
    font-size: 25px;
    letter-spacing: .5rem;
    /* letter-spacing: 2.5rem; */
} 

h2.slogan {
    color: orange;
    color: #fdae81;
}







/* MAIN CONTENT */

/* DESIGN 2 */

.main-coloumn {
    /* z-index: -1; */
    width: 90%;
    max-width: 1200px;
    /* height: 1000px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* border: 3px solid orange; */
    /* background: rgba(0, 0, 0, 0.204); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.211), rgba(0, 0, 0, 0)); */
    /* border-left: 15px solid rgba(0, 0, 0, 0.218); */
    /* border-right: 1px solid black; */
    margin-bottom: 100px;
    margin-top: 100px;
}


/* PORTRAIT CONTAINER */
.portrait-container {
    z-index: -1;
    width: 100%;
    height: 1200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /* border: 3px solid rgb(19, 104, 110); */
    margin: 20px;
}

.portrait-column {
    width: 90%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: 10px 10px 150px 10px;
    
    /* border: 3px solid olive; */
}

.portrait-column--non-reverse {
    padding: 1rem 0px 4rem 0px;}

.portrait-column--reverse {
    flex-direction: column-reverse;
    margin: 150px 10px 10px 10px;
}

.portrait-img-container, .portrait-text-container {
    position: relative;

    width: 400px;
    height: fit-content;

    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    

    /* border: 3px solid black; */
}

.portrait-text-container {
    text-align: left;
    color: rgba(0, 0, 0, 0.724);
    border-left: 2px solid rgba(0, 0, 0, 0.272);
    padding: 1rem;
    margin-left: 1rem;
}

h3.category-info-title {
    color: black;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

img.portrait-style {
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.286); */
    border-radius: 3px;
}

.portrait-reverse .portrait-img-container {
    margin-top: 100px;
}




/* LANDSCAPE CONTAINER */
.landscape-container {
    width: 100%;
    /* height: 600px; */

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;

    /* border: 3px solid rgb(59, 72, 190); */
    margin: 75px;
}

.landscape-img-container {
    width: 750px;
    height: fit-content;

    /* display: flex;
    align-items: center;
    justify-content: center;     */
    /* text-align: center; */

    /* border: 3px solid black; */
}

.landscape-text-container {
    width: 300px;
    height: fit-content;

    /* display: flex;
    align-items: center;
    justify-content: center;     */
    /* text-align: center; */
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 8rem;

    color: rgba(0, 0, 0, 0.724);
    border-left: 2px solid rgba(0, 0, 0, 0.279);

    /* border: 3px solid black; */
}

img.landscape-style {
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.286); */
    border-radius: 3px;
}


/* MOSAIC CONTAINER */
.mosaic-container {
    background-image: url("./images/mosaic-wide.png");
    background-size: cover;
    width: 100vw;
    /* box-sizing: content-box; */
    /* width: 1200px; */
    /* height: 585px;
    height: 645px; */

    /* !!! THIS WORKS FINE !!! */
    height: 50vh;
    min-height: 550px;

    filter: grayscale(.5) contrast(150%);  
    /* filter: grayscale(.25) blur(1px) opacity(0.75);   */
   
    /* border: 5px solid black; */
    border-top: 45px solid grey;
    border-bottom: 5px solid grey;
    margin: 90px 0px 90px 0px;
}
/* 
.mosaic-container img {
    width: 100%;
    height: auto;
  
} */

/* 
.mosaic-1 {
    background-image: url("./images/mosaic-2.jpg");
    width: 50%;
    background-size: cover;
    border: 3px solid rgb(0, 115, 209);
}

.mosaic-2 {
    background-image: url("./images/mosaic-1.jpg");
    width: 50%;
    background-size: cover;
    border: 3px solid rgb(30, 229, 30);
} */


/* DESIGN 1 */

h1.first-design-concept {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;;
}

div.first-design-concept {
    width: fit-content;
    padding: 3rem;
    margin: 8rem 0px 5rem 0px;
    border: 5px solid orange;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* border: 3px solid red; */
}

.row {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
    /* height: 600px; */
    max-width: 1200px;
    margin: 45px auto;
    border: 1px solid black;
    /* background: rgba(0, 0, 0, 0.574); */
    /* background: rgba(255, 255, 255, 0.827); */
    /* background: rgba(255, 166, 0, 0.8); */
    background: rgba(4, 40, 44, 0.163);
    /* background: rgb(0, 0, 0); */
    border-radius: 3px;
}

/* .row.horizontal { */
    /* flex-direction: row-reverse; */
    /* background: rgba(255, 255, 255, 0.854); */
    /* background: rgba(0, 0, 0, 0.471); */
    /* background: rgb(0, 0, 0); */
    /* border: 3px solid rgb(255, 255, 255); */
/* } */

.card-img {
    margin: .5rem;
    border-radius: 2px;
    /* border: 1px solid black; */
    /* border: 1px solid rgba(255, 255, 255, 0.156); */
}

.vertical-img {
    width: 40%;
}

.horizontal-img {
    width: 70%;
}


.info-div {
    /* border: 1px solid rgba(255, 166, 0, 0.861); */
    /* border: 1px solid rgba(163, 163, 163, 0.759); */
    /* border: 1px solid rgba(0, 0, 0, 0.759); */
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    /* border-bottom: 1px solid #56d2e2; */
    /* border-bottom: 1px solid #000000; */

    border-radius: 5px;

    /* WHEN HORIZINTAL */
    /* width: 100%; */

    width: 600px;
    height: 80px;
    position: relative;
    top: -300px;
    left: -200px;
    background-color: rgba(0, 0, 0, 0.115);   
    background: linear-gradient(to right, rgba(0, 0, 0, 0.622), rgba(0, 0, 0, 0));   

    /* background-image: linear-gradient(rgba(0, 0, 0, 0.622), rgba(0, 0, 0, 0)); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.622)); */
    /* left: -400px; */

    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(-90deg);

}

.vertical .info-div {
    width: 650px;
    left: -225px;
    top: -320px;
    /* border-bottom: 1px solid black; */
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.622), rgba(0, 0, 0, 0));    */
}

.info-div-content span.category {
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 60px;
    font-weight: 700;
    color: #56d2e2;
    /* color: #ffffff; */
}

/* AERIAL CONTAINER */
.feature-container {
    width: 1200px;
    /* height: 600px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background: rgba(128, 128, 128, 0.615); */
    /* border: 3px solid lightcoral; */

    padding-top: 50px;
    margin: 75px;
}

.slice-container {
    width: 95%;
    height: 33%;

    display: flex;

    /* background: #56d2e213; */
    

    margin: .5px;
    margin: 5px;
    /* border: 3px solid mediumpurple; */
}

.slice-container-1 {
    justify-content: left;
    /* justify-content: flex-end; */
}

.slice-container-2 {
    justify-content: center;
}

.slice-container-3 {
    justify-content: flex-end;
    /* justify-content: left; */
}

.slice-img {
    z-index: 1;
    width: 90%;
    height: 155px;
    height: 180px;
    border-radius: 3px;
}

.slice-img-cover {
    position: relative;
    width: 100%;
    height: inherit;

    background: rgba(0, 0, 0, 0.245);
    background: #04363b50;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.108), rgba(0, 0, 0, 0));
    /* background-image: linear-gradient(to left, transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.601), rgba(0, 0, 0, 0.8), black); */
    /* border: 1px solid black; */
    border-radius: 3px;
}

.slice-img-1 {
    background-image: url("./images/aerial-slice-1.png");
    background-size: cover;
}

.slice-img-2 {
    background-image: url("./images/aerial-slice-2.png");
    background-size: cover;
}

.slice-img-3 {
    background-image: url("./images/aerial-slice-3.png");
    background-size: cover;
}

.feature-container .info-div-slice {
    z-index: 1;
    position: relative;
    top: -300px;
    left: 470px;
    /* left: -400px; */
}

/* img.slice {
    width: 100%;
    height: 150px;
    border-radius: 3px;

    margin-bottom: 0px;

    border: 3px solid black;
} */



/* FOOTER */
.footer {
    /* height: 300px; */
    /* height: 630px; */
    width: 100%;
    background: rgba(0, 0, 0, 0.848);
    /* background: rgba(0, 0, 0, 0.923); */
    /* background: #2f2f35; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.footer-top-img {
    z-index: 1;
    background-image: url("./images/footer-img-crop-1.jpg");
    background-size: cover;
    /* border: 1px solid red; */
    width: 100%;
    height: 475px;
}

.footer-top-img-cover {
    position: relative;
    /* top: -400px; */
    width: 100%;
    height: inherit;
    /* background: rgba(0, 0, 0, 0.457); */
    /* background: rgba(0, 0, 0, 0.129); */
    background: #56d2e213;
    /* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.457)); */
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.601), rgba(0, 0, 0, 0.8), black);
    /* border-bottom: 10px solid black; */
    /* border-top: 90px solid rgba(0, 0, 0, 0); */
}

/* 
.footer-img {
    width: 100%;
    max-height: 400px;
} */

.footer-bottom {
    height: 90px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid rgba(255, 255, 255, 0.491); */
    /* border-top: 1px solid rgb(0, 0, 0); */
    /* border: 1px solid green; */
}

/* .footer hr {
    width: 90%;
    max-width: 1500px;
    border: none;
    border-top: 1px solid white;
} */

.footer p {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 1rem;
}

.footer a {
    /* display: inline-block; */
    color: #56d2e2;
    color: rgb(255, 166, 0);
    text-align: center;
    text-decoration: none;
    /* color: black; */
    /* color: rgba(255, 255, 255, 0.753); */
    letter-spacing: .04rem;
    font-size: 15px;
    font-weight: 300;
    /* border: 1px solid red; */
    margin-right: 1rem;

    
}